# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

out/
/out/
/.vs/
/build/
/_build/
/install/
/_install/
/Downloads/
/bin/
/lib/
/*/build/
/SocketCAN/demos/CANoe4SW_SE/Default.venvironment/
/SocketCAN/demos/CANoe4SW_SE/TestUnit.vtestunit/
/SocketCAN/demos/CANoe4SW_SE/working-dir/
/CMakeSettings.json
