name: 'Linux Release Build'

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  linux-release:
    name: Build SIL Kit Adapter vcan for Release configuration
    environment: public-github-runners
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Build
        uses: ./.github/actions/build-cmake-preset
        with:
          preset-name: linux-release
          cmake-args:  "-D PACKAGE_FILENAME_SUFFIX=-${{ github.ref_name }}-ubuntu-22.04-x86_64-gcc"
      - name: Release
        uses: softprops/action-gh-release@v1        
        with:
          prerelease: true
          draft: true
          files: |
            build/linux-release/SilKit-Adapter*.zip
            
          